{% extends "home/layout.html" %}
{% block title %}尽有工具 - 应有尽有{% endblock %}
{% block keywords %}
    "短视频,短视频去水印,短视频无水印,抖音无水印,快手无水印,在线工具,程序员,工具,开发人员工具,小工具,站长工具,加密、解密,进制转换,二维码"
{% endblock %}
{% block description %}
    "短视频,短视频去水印,短视频无水印,去水印,在线工具,开发人员工具,代码格式化、压缩、加密、解密,下载链接转换,sql工具,正则测试工具,favicon在线制作,中文简繁体转换,迅雷下载链接转换,进制转换,二维码,抖音无水印,快手无水印"
{% endblock %}
{% block ali_icon %}
    "//at.alicdn.com/t/font_2041726_b9embadjzdj.js"
{% endblock %}
{% block body %}
    <div id="bdy">
        <div class="w">
            <div class="main no-side" id="page">
                <div class="inner">
                    {% for res in search_res %}
                        <div class="search-result">
                            <h3>
                                <a target="_blank"
                                   href="/{{ res.url }}/">{{ res.name }}</a>
                            </h3>
                            <p> {{ res.desc }} </p>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}