blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.layui-nav .layui-nav-item {
    line-height: 45px;
}

.layui-nav .layui-nav-item a {
    text-decoration: none;
    padding: 0 10px;
}

.w {
    width: 1190px;
    margin: 0 auto
}

.w:after {
    overflow: hidden;
    clear: both;
    display: block;
    height: 0;
    content: "\20"
}

#hdr .w {
    position: relative;
    height: 95px;
    z-index: 2
}

#hdr a.logo {
    font-size: 28px;
    text-decoration: none;
    color: #3498db;
    font-family: "Trebuchet MS", "Geneva CE", lucida, 'Microsoft YaHei', sans-serif;
    position: absolute;
    left: 0;
    top: 26px;
    padding-left: 38px;
    background: url(//oltools.net/images/28x28.png) 0 7px no-repeat
}

#hdr a.logo.mid-autumn {
    background-image: url(//qn12.tool.lu/201909/13/1652009YzvKtHxKaJ8Nh5X_32x31.png)
}

#hdr a.logo.national {
    background-image: url(//qn11.tool.lu/201909/13/171418umSZP6ZZQ6s6VIle_32x32.png)
}

#hdr a.logo.new-year {
    padding-left: 52px;
    background-position: 0 0;
    background-image: url(//qn14.tool.lu/201912/31/211247tw9buIEui8UDmOHM_48x48.png)
}

#hdr a.logo span.sup {
    width: 48px;
    height: 48px;
    position: absolute;
    top: -5px;
    right: -50px;
    display: block;
    background: url(//qn14.tool.lu/201712/31/221330ZOFjPO4cLp4CIMzr_48x48.png) 0 0 no-repeat
}

#hdr .nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 338px;
    padding: 3px 10px 0;
    font-size: 13px;
    line-height: 27px;
    margin: 0;
    text-align: right
}

#hdr .nav a {
    padding: 0 8px
}

#srch {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -250px;
    width: 472px
}

#srch input {
    width: 220px;
    height: 22px;
    padding: 3px 5px;
    padding-right: 165px;
    font-size: 14px;
    line-height: 20px;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px
}

#srch button {
    width: 80px;
    height: 32px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 0 5px 5px 0
}

#srch .hot-keywords {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    right: 80px;
    background-color: rgba(255, 255, 255, .5)
}

#srch .hot-keywords a {
    display: inline-block;
    border-radius: 3px;
    background: #f5f5f5;
    margin: 3px 5px 3px 0;
    padding: 0 5px
}

#srch .hot-keywords a:hover {
    background: #e5e5e5;
    text-decoration: none
}

#eles {
    position: absolute;
    top: 30px;
    right: 10px
}

#eles li, #eles ul {
    list-style: none
}

#eles li {
    display: inline;
    float: left
}

#eles a {
    display: block;
    line-height: 1;
    text-decoration: none;
    text-align: center
}

#eles a i {
    display: block;
    font-size: 16px
}

#eles a span {
    display: block;
    padding-top: 6px;
    color: #333
}

#foot .declare {
    text-align: center;
    padding: 10px 0 15px;
}

.declare a {
    color: #666;
}

p {
    margin: 1em 0;
}

a, a:hover, a:link {
    color: #3498db;
}

#show {
    display: inline;
}

.main {
    float: left;
    width: 100%;
    overflow: hidden;
}

#page .inner {
    margin-right: -10px;
}

.main.no-side .inner {
    margin: 10px 0 0 0;
}

.main .inner {
    margin: 10px 309px 0 0;
    position: relative;
}

.main .inner:after, .main .inner:before {
    content: '';
    display: table;
}

ul.tabs {
    margin-left: 0;
    font-size: 15px;
    padding: 0 20px;
}

.mgb10 {
    margin-bottom: 10px !important;
}

menu, ol, ul {
    margin: 0 0 1.75em 1.75em;
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table;
}

ul.tabs li {
    margin: 0 10px 0 0;
    float: left;
    display: inline-block;
}

.inner li {
    margin: 1em 0;
    list-style: none;
}

ul.tabs li a.active {
    color: #3498db;
}

ul.tabs li a {
    display: block;
    padding: 0 5px;
    color: #666;
    text-decoration: none;
}

ul.tabs li a.active:after {
    content: '';
    display: block;
    border-radius: 2px;
    height: 4px;
    background-color: #3498db;
}

.clearfix:after {
    clear: both;
}

#page .item {
    width: 285px;
    float: left;
    margin: 0 13px 13px 0;
    border: 1px solid #ccc;
    background-image: -webkit-linear-gradient(top,#fff,#f9f9f9);
    position: static;
    border-radius: 5px;
    transition: box-shadow .3s ease-in-out;
}

#page .item-inner {
    padding: 10px 15px 10px 8px;
    position: relative;
}

#page .item .item-icon {
    float: left;
    margin-right: 10px;
}

#page .item a {
    color: #333;
    display: inline-block;
    text-decoration: none;
}

#page .item h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    line-height: 1.4;
    margin-bottom: 5px;
    height: 22px;
    overflow: hidden;
}

#page .item a {
    color: #333;
    display: inline-block;
    text-decoration: none;
}

#page .item .item-category {
    float: right;
}

#page .item a {
    color: #333;
    display: inline-block;
    text-decoration: none;
}

#page .item .icon.collect, .aside .icon.collect {
    background-position: 0 0;
}
#page .item var, .aside var {
    font-style: normal;
}
#page .item .item-desc {
    border-top: 1px solid #ddd;
    margin-top: 8px;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#page .item .item-ft {
    text-align: right;
}
#page .item .item-link {
    float: left;
    margin-top: 3px;
    color: #999;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#page .item a.item-btn {
    display: inline-block;
    padding: 3px 12px;
    text-decoration: none;
    position: relative;
}
#page .item a.item-btn::before {
    content: "";
    position: absolute;
    transition: all .2s ease-in-out;
    left: 50%;
    right: 50%;
    bottom: 0;
    border-bottom: 2px solid transparent;
}

h3 {
    font-size: 120%;
    color: #444;
    margin: 1.2em 0 .7em;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important
    }

    .visible-xs {
        display: block !important
    }

    #hdr a.logo {
        left: 10px
    }

    #page .inner, .main .inner, .main.no-side .inner {
        margin-right: 12px;
        margin-left: 12px
    }

    .app #bdy .main .inner {
        margin-left: 0;
        margin-right: 0
    }

    #page .item {
        float: none;
        margin: 0 auto 11px;
        width: calc(100% - 24px)
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important
    }

    .visible-sm {
        display: block !important
    }

    .main .inner {
        margin-right: 0
    }

    #hdr a.logo {
        left: 10px
    }

    #page .item {
        float: left;
        margin: 0 13px 13px 0;
        width: calc(50% - 26px)
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important
    }

    .visible-md {
        display: none !important
    }

    #page .item {
        float: left;
        margin: 0 13px 13px 0;
        width: calc(30%)
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important
    }

    .visible-lg {
        display: block !important
    }
}

@media (max-width: 767px) {
    .w {
        width: 100%
    }
}

@media (min-width: 768px) {
    .w {
        width: 750px
    }
}

@media (min-width: 992px) {
    .w {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .w {
        width: 1190px
    }
}